.intl-tel-input {  
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333; 
    direction: ltr; 
    text-align: right;
    float:right;
}
.intl-tel-input input {
    width: 250px;
    border: 1px solid #CCC;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    line-height: 30px;
    margin-bottom: 10px;
    min-height: 35px;
}
