/***
Login page
***/

/* logo page */
.login {
  background-color: #666 !important;
}

.login .logo {
  margin: 0 auto;   
  margin-top:60px;
  padding: 15px;
  text-align: center;
}  


.login .content {
    width: 360px;
    margin: 0px auto;
    padding: 20px 30px 15px;
    /*background-color: ;*/
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.7) url("../../img/bg-white-lock.png") repeat scroll 0% 0%;
    box-shadow: 0 0 3px #CCC inset
}

.login .content h3 {
  color: #eee;
}
.login .content h4  {
  color: #eee;
}

.login .content p,
.login .content label {
  color: #fff;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .form-control {
  background-color: #fff;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
    color: #000;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

}

.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  padding: 0px 30px 25px 30px;
  margin-right: -30px;
  margin-left: -30px;
}

.login .content .form-actions .checkbox {
  margin-right: 0;
  padding-right: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
    color: #000;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 25px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top:1px;
  margin: 4px 3px 0px 4px; 
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; 
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-right: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto; 
  padding: 10px;
  color: #eee;
  font-size: 12px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top:10px;
  }

  .login .content {
    padding: 30px; 
    width: 222px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}
.login-slogan{
    font-size: 131%;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
    text-shadow: 1px 1px 2px #FFF;
    box-shadow: 0px 0px 3px #CCC inset;
    background-color: #FFF;
    filter: alpha(opacity=60);
    opacity: 0.6;
    padding: 5px;
    margin: 20px auto;
    width: 50%;
}